.navbar-brand img {
    width: 60px;
    height: 18px;
    float: left;
    margin-top: 2px;
    margin-right: 15px;
}

.navbar-brand span {
    color: #404b55;
}

.navbar-default {
    background-color: #fff;
}

#form {
    margin-bottom: 10px;
}

#stats-table tbody {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

#source-view {
    color: #333;
    background-color: transparent;
    word-wrap: break-word;
}

#spinner {
    margin-left: 5px;
}

#error {
    padding: 15px;
}

.spin {
    animation:spin-animation 1s linear infinite;
    -webkit-animation:spin-animation 1s linear infinite;
}
@keyframes spin-animation {
    100% { transform:rotate(360deg); }
}
@-webkit-keyframes spin-animation {
    100% { -webkit-transform: rotate(360deg); }
}
