{% extends "bootstrap/base.html" %}

{% block title %}HTML Analyzer{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='index.css')}}">
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='tag_highlight.js')}}"></script>
{% endblock %}

{% block content %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      
      <span class="navbar-brand">
	<img src="{{url_for('.static', filename='slack.png')}}" alt="Slack">
	<span>HTML Analyzer</span>
      </span>
    </div>
  </div>
</nav>

<div class="container">
  <form id="form">
    <div class="form-group">
      <label for="url">URL to analyze:</label>
      <input type="text" class="form-control" id="url" value="http://slack.com">
    </div>
    <button type="submit" id="submit" class="btn btn-default">Analyze!</button>
    <span class="glyphicon glyphicon-refresh spin" id="spinner"></span>
  </form>

  <div class="row" id="results-container">
    <div class="col-md-2">
      <table class="table table-hover" id="stats-table">
        <thead>
          <tr>
            <th>Tag Name</th>
            <th>Count</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div class="col-md-10 well">
      <code id="source-view">
      </code>
    </div>
  </div>

  <p id="error" class="bg-danger"></p>

</div>


{% endblock %}

{% block head %}
{{super()}}
{% endblock %}
